.date-container {
	display: flex;
    flex-direction: column;
}

.date-container .exact-date {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #2B416C;
}

.date-container .relative-date {
	font-style: italic;
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #7788A3;
}

.date-container.card-date-container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.date-container.card-date-container .exact-date {
	font-size: 2.4rem;
	line-height: 3rem;
}

.date-container.card-date-container .relative-date {
	font-size: 2rem;
	line-height: 2.6rem;
}