.Dropdown-option, .Dropdown-placeholder {
	font-size: 2rem;
	line-height: 2.8rem;
	color: #2B416C;
}
.Dropdown-control {
	padding: 1rem 3rem 1rem 2rem;
}

.Dropdown-arrow {
	right: 0.7rem;
    top: 2rem;
    border-width: 0.7rem 0.7rem 0 !important;
    border-color: #2B416C transparent transparent;
}