.symbol-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.symbol-container img {
	width: 2.2rem;
	height: 2.2rem;
	margin-right: 0.6rem;
}

.symbol-container label {
	font-size: 1.4rem;
	line-height: 1.6rem;
	cursor: pointer;	
	color: #7788A3;
}

.card-symbol-container img {
	height: 4rem;
	width: 4rem;
}